.signup-form {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
    .signup-form-form {
      width: 100%;
      padding: 30px 0;
      font-size: 16px;
      color: rgb(255, 255, 255);
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }
    h2
    { color:#f70707;
   text-align: center;
  }
   .animation
   {  bottom: -2px;
      left: -100%;
      width: 10%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03f40f);
      animation: btn-anim1 2s linear infinite;
  }
      .animation{
          position: relative;
          display: block;
        }
@keyframes btn-anim1 {
          0% {
            left: -10%;
          }
        
          50%,100% {
            left: 100%;
          }
        }
.button:hover {
          background: #0be115;
          color: #ef0c0c;
          border-radius: 5px;
          box-shadow: 0 0 5px #03f40f,
                      0 0 25px #03f40f,
                      0 0 50px #15e720,
                  0 0 100px #12ea1d;
        }
.signup-form-form input {
          width: 100%;
          padding:-5px;
          font-size: 16px;
          color: #fff;
          margin-bottom: 15px;
          border: none;
          border-bottom: 1px solid #fff;
          outline: none;
          background: transparent;
        }
        .signup-form-form button {
          position: relative;
          display: inline-block;
          padding: 2px 5px;
          color: #ab9696;
          font-size: 14px;
          text-decoration: none;
          text-transform: lowercase;
          overflow: hidden;
          transition: .5s;
          margin-top: 10px;
          letter-spacing: 2px;
          background:transparent;
        }
input{text-align: center;
}

@media screen and (max-width: 600px) {
  @keyframes slide-in {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

nav{overflow: hidden;
  text-transform: uppercase;
  display: flex;
justify-content: space-between;
padding: 10px;
}
nav ul{list-style-type: none;
text-decoration:none;}
nav li{border-right: solid 2px bisque;
padding:6px 10px;float:left;}
nav li a{font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        padding:6px 10px;}
nav li a:hover{background-color: rgb(202, 255, 10);
}



  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bca9a9;
}

header {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f1f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    color: #a79292;
}

p {
    line-height: 1.6;
    color: #7e7979;
}

img {
    max-width: 300px;
    height: 300px;;
    border-radius: 8px;
    padding: 2px;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 95%;
}
ul{color: #806f6f;}

#header{background: transparent url(logo.jpg) no-repeat;background-size: cover;
background-position:center;
text-align: justify;
max-width: 100%;
opacity: 0.8;}
.wrapper{ width: 100%;
height: 120px;}
.flex-container{display:block;}

.signup-link .link {
font-weight: 400;
}
.link:hover {
text-decoration: underline;
color: #ef0c0c;
}
.signup-link {
align-self: center;
font-weight: 500;
}



.button {
  appearance:none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position:relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  transition: all .15s ease;
  
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7D8082;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: blue;
  background-color: #75a4d2;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #75a4d2;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color:  #75a4d2;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #ff4655;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

